<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="css/index.css" />
    <script src="/jquery-3.7.1.js"></script>
    <title>ED-1 Dashboard</title>
  </head>
  <body>
    <div class="root-div">
      <h1>ED-1 Dashboard</h1>
      <p class="my-time"></p>
      <div class="control-panel">
        <div class="startBtn" onclick="startDist()"><h2>START</h2></div>
        <div class="stopBtn" onclick="stopDist()"><h2>STOP</h2></div>
      </div>
      <div class="data-display-container">
        <div class="container-item">
          <h2>Sensor A</h2>
          <h2 class="temp-display tempA"><%=tempA %> °C</h2>
          <h2>Sensor Resistance</h2>
          <h2 class="res-display resA"><%=resA %> Ω</h2>
        </div>
        <div class="container-item">
          <h2>Sensor B</h2>
          <h2 class="temp-display tempB"><%=tempB %> °C</h2>
          <h2>Sensor Resistance</h2>
          <h2 class="res-display resB"><%=resB %> Ω</h2>
        </div>
      </div>
    </div>
    <script src="/scripts.js"></script>
  </body>
</html>
